.contact {
    padding-top: 80px;
    padding-bottom: 80px;

    background: #F6F6F6;

    &__copyright{
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 1;

            color: rgba(0, 0, 0, 0.6);
        }

        p:last-child{
            padding-left: 20px;
        }
    }
}