.guarantees{
    padding-top: 80px;
    padding-bottom: 80px;

    background: #F6F6F6;

    .container{
        display: flex;
        justify-content: space-between;
    }
    
    &__left{
        margin-bottom: -155px;
        z-index: 1;
        
        img{
            margin-top: 150px;
        }
    }

    img{
        z-index: 1;
        line-height: 72px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 22px;
        padding: 20px;
        text-align: center;
        color: #FFFFFF;
        animation: img 2s infinite;
    }
    
    @keyframes img {
        0% {
            transform: scale3d(1, 1, 1);
        }
        50% {
            transform: scale3d(0.95, 0.95, 0.95);
        }
        100% {
            transform: scale3d(1, 1, 1);
        }

    }

    &__blocks{
        width: 600px;

        display: flex;

        flex-wrap: wrap;
        gap: 20px;
    }
    
    &__block{
        width: 285px;
        b{
            font-weight: 700;
            line-height: 1;
        }

        p{
            display: block;
            line-height: 1.4;

            color: rgba(0, 0, 0, 0.8);
        }
    }
}