.nav {
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        width: 100px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__connect{
        
        a{
            
            font-weight: 700;
            font-size: 16px;
            line-height: 1;
        }
        
        span{
            // display: block;
            // text-align: right;
            padding-left: 10px;
        }

        p {
            display: block;
            text-align: right;
            margin-top: 5px;

            font-weight: 400;
            font-size: 12px;
            line-height: 1;

            text-transform: uppercase;
        }

    }
} 